body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
  font-size: 18px;
  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-style: italic;
  font-size: 25px;
  font-weight: 700;
  color: #445da4;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

img {
  width: 170px;
}

.ornement {
  width: 380px;
}
